.overlay {
    filter: brightness(40%);
}

.accordion-button {
    font-size: 20px;
    font-weight: bold;
}
span i {
    font-size: 30px;
    color: white;
    cursor: hover;
}
@media screen and (max-width: 576px) {
        .carousel-caption {
            width:70%;
            height: fit-content;
        }
        .carousel-caption .h1 {
            font-size: 24px;
        }
        .carousel-caption p {
            font-size: 16px;
        }
        .carousel-caption .btn {
            font-size: 16px;
        }

}

@media screen and (min-width: 577px) {
        .carousel-caption {
            width:60%;
            height: fit-content;
        }
        .carousel-caption .h1 {
            font-size: 40px;
        }
        .carousel-caption p {
            font-size: 20px;
        }
        .carousel-caption .btn {
            font-size: 16px;
        }
    
}
@media screen and (min-width: 900px) {
        .carousel-caption {
            width:50%;
            height: fit-content;
        }
        .carousel-caption .h1 {
            font-size: 60px;
        }
        .carousel-caption p {
            font-size: 24px;
        }
        .carousel-caption .btn {
            font-size: 18px;
        }
}

